/* Category Buttons */
.active-btn {
  background-color: #02AEF1 !important;
  color: #fff !important;
  border-radius: 6px;
  border: none !important;
}

.inactive-btn {
  background-color: transparent !important;
  border: 1px solid #ddd !important;
  border-radius: 6px;
  color: #000 !important;
}

.inactive-btn:hover {
  background-color: #02AEF1 !important;
  color: #fff !important;
  border: none !important;
}

/* Enroll Button */
.enroll-btn {
  border: 1px solid #02AEF1 !important;
  color: #02AEF1 !important;
  border-radius: 6px;
  background: transparent !important;
  transition: all 0.3s ease-in-out;
  font-family: "Playfair Display", serif !important; 

}

.enroll-btn:hover {
  background-color: #02AEF1 !important;
  color: #fff !important;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-btn img {
  transition: transform 0.2s;
}

.nav-btn:hover img {
  transform: scale(1.1);
}

.card-img-top{
  height: 170px;
  object-fit: cover;
}

/* Fix card shrink on mobile */
@media (max-width: 576px) {
  .row.g-4 {
    --bs-gutter-x: 0.75rem;
    --bs-gutter-y: 0.75rem;
  }
  .card {
    transform: scale(0.95);
  }
}
